<div class="footer page__footer">
    <div class="footer__item footer__item_unbordered">
        <a class="footer__item__header">Контакты</a><br>
        +7999-999-99-99<br>
        +7999-999-99-99<br>
        +7999-999-99-99<br>
    </div>
    <div class="footer__item">
        <a class="footer__item__header">Еще контакты</a><br>
        +7888-888-88-88<br>
        +7888-888-88-88<br>
        +7888-888-88-88<br>
    </div>
    <div class="footer__item">
        <a class="footer__item__header">Еще больше контактов</a><br>
        testemail@email.email<br>
        testemail@email.email<br>
        testemail@email.email<br>
    </div>
</div>