<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/404.css">
    <title>404</title>
</head>
<body class="page">
    <header class="header page__header">
        <a href="main" class="logo header__logo">
            <b>МЫЩ</b>АГА
        </a>
        <nav class="nav header__nav">
            <a href="main" class="nav__item">Главная</a>
            <a href="ads" class="nav__item">Объявления</a>
            <a href="#" class="nav__item">Стол заявок</a>
            <a href="#" class="nav__item">Мероприятия</a>
        </nav>
        <nav>
            <a href="/profile">
                <img src="static/images/profile.png" class="profile header__profile">
            </a>
            <a href="#">
                <img src="static/images/bell.png" class="invite header__invite">
            </a>
            <a href="#" class="warning-button header__warning-button">
                Тревога
            </a>
        </nav>
    </header>
    <div class="content"></div>
</body>
</html>