<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/ads.css">
    <title>Объявления</title>
</head>
<body class="page">
    {% include "components/header.html" %}

    <div class="content">
        <div class="content__nav">
            <a href="#" class="content__nav__item">Нашел</a>
            <a href="#" class="content__nav__item">Обмен</a>
            <a href="#" class="content__nav__item">Ищу</a>
        </div>
        <a href="#" class="content__nav__create-ad">Подать объявление</a>

        <div href="#" class="content__item">
            <img src="static/images/bike.png" class="content__item__image">
            <div class="content__item__text">
                <b class="content__item__text__header">Украли велосипед</b><br>
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед.
            </div>
            <a href="#" class="content__item__more">Подробнее</a>
        </div>
        <div href="#" class="content__item">
            <img src="static/images/bike.png" class="content__item__image">
            <div class="content__item__text">
                <b class="content__item__text__header">Украли велосипед</b><br>
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед.
            </div>
            <a href="#" class="content__item__more">Подробнее</a>
        </div>
        <div href="#" class="content__item">
            <img src="static/images/bike.png" class="content__item__image">
            <div class="content__item__text">
                <b class="content__item__text__header">Украли велосипед</b><br>
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед, 
                Отдайте велосипед, Отдайте велосипед, Отдайте велосипед.
            </div>
            <a href="#" class="content__item__more">Подробнее</a>
        </div>
    </div>
    {% include "components/footer.html" %}
</body>
</html>