<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/login.css">
    <title>Авторизация</title>
</head>
<body class="page">
    <form class="login page__login" method="POST">
        <h1>Авторизация</h1>
        <div class="login__form">
            <input class="form__input" placeholder="Почта" type="email">
            <input class="form__input" placeholder="Пароль" type="password">
        </div>
        <div class="login__buttons">
            <input type="checkbox" id="remember" class="login__buttons__remember">
            <label for="remember" class="login__buttons__remember">Запомнить меня</label>
            <a href="#" class="login__buttons__forget">Забыли пароль?</a>
            <input type="submit" class="login__buttons__submit" value="Войти">
        </div>
    </form>

    <div class="intro page__intro">
        МЫЩага<br>
        <span class="intro__subtext">Закрытое сообщество общежитий</span>
    </div>
</body>
</html>