<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Главная</title>
</head>
<body class="page">
    {% include "components/header.html" %}
    
    <div class="content page__content">
        <div class="content__nav">
            <img src="static/images/Vector.png">
            <a href="#" class="content__nav__category">Категории</a>
            <a href="#" class="content__nav__sort">Cортировка</a> 
            <a href="new_theme" class="content__nav__create-theme">
                Новая тема
            </a>
            <input type="text" placeholder="Поиск..." class="content__nav__search">
        </div>
        <div class="category centent__category">
            <div class="category__circle"></div>
            <div class="category__line"></div>
            <div class="category__label">Основная</div>
        </div>
        {% for theme in themes %}
            <a class="content__item" href="themes?id={{theme.ID}}">
                <table class="content__item__table">
                    <tr>
                        <th class="table__members">{{theme.Title}}</th>
                        <th class="table__messages">Сообщений</th>
                        <th class="table__update">Последнее обновление</th>
                    </tr>
                    <tr>
                        <td class="table__members">{{theme.Category}}</td>
                        <td class="table__messages">{{theme.Quantity}}</td>
                        <td class="table__update">0</td>
                    </tr>
                </table>
            </a>
        {% endfor %}
    </div>

    {% include "components/footer.html" %}
</body> 
</html>
