<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/new_theme.css">
    <title>Новая тема</title>
</head>
<body class="page">
    <header class="header page__header">
        <a href="main" class="logo header__logo">
            <b>МЫЩ</b>АГА
        </a>
        <nav class="nav header__nav">
            <a href="main" class="nav__item">Главная</a>
            <a href="ads" class="nav__item">Объявления</a>
            <a href="#" class="nav__item">Стол заявок</a>
            <a href="#" class="nav__item">Мероприятия</a>
        </nav>
        <nav>
            <a href="#">
                <img src="static/images/profile.png" class="profile header__profile">
            </a>
            <a href="#">
                <img src="static/images/bell.png" class="invite header__invite">
            </a>
            <a href="#" class="warning-button header__warning-button">
                Тревога
            </a>
        </nav>
    </header>
    <form class="content page__content" method="POST">
        <h1>Новая тема</h1>

        <div class="content__form">
            <label for="par">Заголовок</label><br>
            <input class="content__input" id="par" name="par">

            <label for="category">Категория</label><br>
            <input class="content__input" id="category" name="category">

            <label>Описание</label><br>
            <textarea class="content__description"></textarea>            
        </div>
        <div class="content__buttons">
            <input type="checkbox" id="an" name="an">
            <label for="an">Анонимно</label><br>

            <input type="submit" value="Создать" class="content__submit">
        </div>
    </form>
    <div class="footer page__footer">
        <div class="footer__item footer__item_unbordered">
            <a class="footer__item__header">Контакты</a><br>
            +7999-999-99-99<br>
            +7999-999-99-99<br>
            +7999-999-99-99<br>
        </div>
        <div class="footer__item">
            <a class="footer__item__header">Еще контакты</a><br>
            +7888-888-88-88<br>
            +7888-888-88-88<br>
            +7888-888-88-88<br>
        </div>
        <div class="footer__item">
            <a class="footer__item__header">Еще больше контактов</a><br>
            testemail@email.email<br>
            testemail@email.email<br>
            testemail@email.email<br>
        </div>
    </div>
</body>
</html>