<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/new_theme.css">
    <title>Новая тема</title>
</head>
<body class="page">
    {% include "components/header.html" %}
    <form class="content page__content" method="POST">
        <h1>Новая тема</h1>

        <div class="content__form">
            <label for="par">Заголовок</label><br>
            <input class="content__input" id="par" name="title" required>

            <label for="category">Категория</label><br>
            <input class="content__input" id="category" name="category" required>

            <label>Описание</label><br>
            <textarea class="content__description" name="description" required></textarea>            
        </div>
        <div class="content__buttons">
            <input type="checkbox" id="an" name="an">
            <label for="an">Анонимно</label><br>

            <input type="submit" value="Создать" class="content__submit">
        </div>
    </form>
    {% include "components/footer.html" %}
</body>
</html>