<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/profile.css">
    <title>Профиль</title>
</head>
<body class="page">
    {% include "components/header.html" %}

    <div class="content">
        <h3>Профиль</h3>
        <form class="profile content__profile" method="POST" enctype='multipart/form-data'>
            <div class="profile__image">
                <img src="uploads/{{user.Avatar}}" class="image__source"><br>
                
                <input type="file" id="image" style="display:none;" name="avatar"> 
                <label for="image" class="image__upload-button">Загрузить аватар</label>
            </div>
            <table class="profile__update-form">
                <tr>
                    <td>
                        <label>Имя</label><br>
                        <input type="text" class="profile__input" name="first_name" value={{user.FirstName}}>
                    </td>
                    <td>
                        <label>Фамилия</label><br>
                        <input type="text" class="profile__input" name="last_name" value={{user.LastName}}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Почта</label><br>
                        <input type="email" class="profile__input" name="email" value={{user.Email}}>
                    </td>
                    <td>
                        <label>Общежитие</label><br>
                        <input type="text" class="profile__input" name="dorm" value={{user.Dorm}}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>ВУЗ</label><br>
                        <input type="text" class="profile__input" name="university" value={{user.University}}>
                    </td>
                    <td>
                        <label>Номер комнаты</label><br>
                        <input type="number" class="profile__input" name="room_number" value={{user.RoomNumber}}>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="profile__submit" value="Сохранить" method="POST">
                    </td>
                </tr>
            </table>
        </form>
        <form class="invitations content__invitations">
            <h3>Приглашения</h3>
            <input type="email" class="invitations__input" placeholder="Введите email">
            <input type="submit" class="invitations__submit" value="Отправить">
        </form>
        <table class="invitation-list">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Дата отправки
                </th>
                <th>
                    Статус
                </th>
            </tr>
            <tr class="invitation-list__item">
                <td>
                    emailemail@email.email
                </td>
                <td>
                    5/27/15
                </td>
                <td>
                    <img src="static/images/accepted_invitations.png">
                </td>
            </tr>
            <tr class="invitation-list__item">
                <td>
                    emailemail@email.email
                </td>
                <td>
                    5/27/15
                </td>
                <td>
                    <img src="static/images/unaccepted_invitations.png">
                </td>
            </tr>
        </table>
    </div>
    {% include "components/footer.html" %}
</body>
</html>