<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/reg.css">
    <title>Регистрация</title>
</head>
<body class="page">
    <form class="reg page__reg" method="POST">
        <h1>Регистрация</h1>
        <div class="reg__form">
            <input class="form__input" placeholder="Имя" required>
            <input class="form__input" placeholder="Фамилия" required>
            <input class="form__input" placeholder="Город" required>
            <input class="form__input" placeholder="Общежитие" required>
            <input class="form__input" placeholder="Номер комнаты [не обязательно]">
            <input class="form__input" placeholder="Общежитие" required>
            <input class="form__input" placeholder="Пароль" required>
        </div>
        <div class="reg__buttons">
            <input type="submit" class="reg__buttons__submit" value="Зарегистрироваться">
            <a href="login" class="login">Уже зарегистрированы?</a>
        </div>
    </form>

    <div class="intro page__intro">
        МЫЩага<br>
        <span class="intro__subtext">Закрытое сообщество общежитий</span>
    </div>
</body>
</html>