<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/theme.css">
    <title>Тема</title>
</head>
<body class="page">
    {% include "components/header.html" %}

    <div class="content page__content">
        <h2>Общее обсуждение</h2>

        {% for comment in comments %}
            <div class="content__comment">
                <div class="comment__image-box">
                    <img src="static/images/monke1.jpg" class="image-box__image"><br>
                    <b>{{comment.FirstName}} {{comment.LastName}}</b>
                </div>
                <div class="comment__text">
                    {{comment.Text}}
                </div>
            </div>
        {% endfor %}
    
        <form class="content__commenting" method="POST">
            <input class="commenting__input" name="text" type="text" required>

            <input type="submit" id="submit" style="display: none;">
            <label class="commenting__send" for="submit">
                <img src="static/images/send.png" class="commenting__send__image">
            </label>
            <input type="checkbox" class="commenting__anonim">
            <label>Анонимно</label>
        </form>
    </div>
    {% include "components/footer.html" %}
</body>
</html>